<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" id="WebApp_ID" version="6.0">
  <display-name>java1</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
  		<error-code>404</error-code>
  		<location>/pagenotfound.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>com.servlets.firstservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>com.servlets.second</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>https</servlet-name>
    <servlet-class>com.servlets.https</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.servlets.register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>success</servlet-name>
    <servlet-class>com.servlets.success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/web</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>https</servlet-name>
    <url-pattern>/https</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>success</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>s1</display-name>
    <servlet-name>s1</servlet-name>
    <servlet-class>com.attr.s1</servlet-class>
    <init-param>
      <description></description>
      <param-name>s1</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/s1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s2</display-name>
    <servlet-name>s2</servlet-name>
    <servlet-class>com.attr.s2</servlet-class>
    <init-param>
      <description></description>
      <param-name>s2</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/s2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ser1</display-name>
    <servlet-name>ser1</servlet-name>
    <servlet-class>com.attr.ser1</servlet-class>
    <init-param>
      <description></description>
      <param-name>ser1</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ser1</servlet-name>
    <url-pattern>/ser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ser2</servlet-name>
    <servlet-class>com.attr.ser2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ser2</servlet-name>
    <url-pattern>/ser2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register1</display-name>
    <servlet-name>register1</servlet-name>
    <servlet-class>com.user.register1</servlet-class>
    <init-param>
      <description></description>
      <param-name>register</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>register1</servlet-name>
    <url-pattern>/register1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ser3</display-name>
    <servlet-name>ser3</servlet-name>
    <servlet-class>com.myservlets.ser3</servlet-class>
    <init-param>
      <description></description>
      <param-name>ser3</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ser3</servlet-name>
    <url-pattern>/ser3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ser4</display-name>
    <servlet-name>ser4</servlet-name>
    <servlet-class>com.myservlets.ser4</servlet-class>
    <init-param>
      <description></description>
      <param-name>ser4</param-name>
      <param-value></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ser4</servlet-name>
    <url-pattern>/ser4</url-pattern>
  </servlet-mapping>
</web-app>